<launch>
        <node pkg="tf" type="static_transform_publisher" name="fake_tcp_publisher_0" 
            args="-0.05788258 -0.0275 0.133 0.707 0.0 0.0 0.707 right_arm/ee_arm_link fake_tcp_0 100"/>

        <node pkg="tf" type="static_transform_publisher" name="tcp_publisher" 
            args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 right_arm/ee_arm_link tcp_link 100"/>
</launch>
